version: '2'
services:
  feedgears-router01:
    image: "nginx:latest"
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - feedgears-app01
      - feedgears-broker01
      - feedgears-client01
  feedgears-db01:
    image: "postgres:latest"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  feedgears-cache01:
    image: redis:6.2-alpine
    restart: always
    command: redis-server --save 20 1 --loglevel warning --requirepass redis
    volumes:
      - cache:/data
  feedgears-app01:
    image: "lostsidewalk/newsgears-api:latest-debug"
    environment:
      - DEBUG=true
      - NEWSGEARS_DEVELOPMENT=false
      - NEWSGEARS_SINGLEUSERMODE=true
      - NEWSGEARS_APPURL=http://localhost/api
      - NEWSGEARS_ORIGINURL=http://localhost
      - NEWSGEARS_BROKERURL=ws://feedgears-broker01:8083/server-broker
      - NEWSGEARS_BROKERCLAIM=secret
      - SPRING_DATASOURCE_URL=jdbc:postgresql://feedgears-db01:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_REDIS_HOST=feedgears-cache01
      - SPRING_REDIS_PASSWORD=redis
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_REDIRECTURI=http://localhost/api/oauth2/callback/{registrationId}
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENTID=@null
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENTSECRET=@null
      - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_SCOPE=email,profile
      - SPRING_MAIL_HOST=localhost
      - SPRING_MAIL_USERNAME=smtpUser
      - SPRING_MAIL_PASSWORD=smtpPassword
      - TOKEN_SERVICE_SECRET=secret
    ports:
      - "45005:45005"
    depends_on:
      - feedgears-db01
    links:
      - feedgears-db01
      - feedgears-broker01
  feedgears-engine01:
    image: "lostsidewalk/newsgears-engine:latest-debug"
    environment:
      - DEBUG=true
      - NEWSGEARS_DEVELOPMENT=false
      - SPRING_DATASOURCE_URL=jdbc:postgresql://feedgears-db01:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_REDIS_HOST=feedgears-cache01
      - SPRING_REDIS_PASSWORD=redis
    ports:
      - "55005:55005"
    depends_on:
      - feedgears-db01
      - feedgears-cache01
      - feedgears-app01
    links:
      - feedgears-db01
  feedgears-broker01:
    image: "lostsidewalk/newsgears-broker:latest-debug"
    environment:
      - DEBUG=true
      - NEWSGEARS_DEVELOPMENT=false
      - NEWSGEARS_SINGLEUSERMODE=true
      - NEWSGEARS_ORIGINURL=http://localhost:[*]
      - SPRING_DATASOURCE_URL=jdbc:postgresql://feedgears-db01:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - TOKEN_SERVICE_SECRET=secret
      - BROKERCLAIM_API=secret
    ports:
      - "65015:65015"
    depends_on:
      - feedgears-db01
  feedgears-client01:
    image: "lostsidewalk/newsgears-client:latest"
    environment:
      - VUE_APP_NEWSGEARS_API_URL=http://localhost/api
      - VUE_APP_NEWSGEARS_ORIGIN_URL=http://localhost
      - VUE_APP_NEWSGEARS_BROKER_URL=http://localhost/broker
    depends_on:
      - feedgears-app01
      - feedgears-broker01
volumes:
  cache:
    driver: local
